// Variables
$background-color-default: black;
$background-color-hover: white;
$text-color-default: white;
$text-color-hover: black;
$cortina-color: white;
$transition-speed: 0.3s;

.cortina-container {
  height: 100vh; 
  width: 100%; 
}

/* Estilos para cada sección */
.section {
  flex: 3;
  position: relative;
  background-color: $background-color-default;
  color: $text-color-default;
  transition: background-color $transition-speed, color $transition-speed;
  z-index: 1;
  height: 100%;
  border-right: 1px solid #979797;

  &:hover {
    background-color: $background-color-hover;
    color: $text-color-hover;
    z-index: 1;
  }

  /* Estilos para el contenido dentro de cada sección */
  .content {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    position: relative; 
    z-index: 2;
  }

  /* Pseudoelemento ::before para la cortina que se desvanece hacia la izquierda */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cortina-color;
    transform-origin: left; 
    transform: scaleX(0); 
    transition: transform $transition-speed;
    z-index: -1; 
  }

  /* Estilos cuando se hace hover en una sección para la cortina que se desvanece hacia la izquierda */
  &:hover::before {
    transform: scaleX(1); /* La cortina se desvanecerá hacia la izquierda */
  }

  /* Pseudoelemento ::after para la cortina que se desvanece hacia la derecha */
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $cortina-color;
    transform-origin: right; 
    transform: scaleX(0); 
    transition: transform $transition-speed; 
  
  }

  /* Estilos cuando se hace hover en una sección para la cortina que se desvanece hacia la derecha */
  &:hover::after {
    transform: scaleX(1); /* La cortina se desvanecerá hacia la derecha */
  }
  h2{
    font-size: 40px!important;
  }
  .bi{
    padding-right: 30px;
font-size: 31px;
  }
}

@media (max-width: 769px) {
    .cortina-container {
        height: inherit; 
        width: inherit; 
      }

}
